.move-image{
    position: absolute;
    left: 20px;
    bottom:-150px;
}

.slick-track{
    margin: 30px;
}
.m{
    max-width: 600px;
}
.--bg-grey{
    background-color: rgba(128, 128, 128, 0.178);
  }